<ion-card>
  <ion-card-header>
    <ion-card-title>
      {{ title }}
      <div *ngIf="permitAdd">
        <ion-button (click)="onAdd()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <div class="list-items" style="display: flex;" *ngFor="let entity of list">
      <div>
         <div (click)="onOpen(entity)" style="width: 135px;
         height: 60px;
         background-color: blue;
         border-radius: 10px; font-size: large; justify-content: center; display: flex; margin-top: 5px; padding: 15px;">

         <ion-label>
          <h2>{{entity?.name}}</h2>
          <p>R$ {{entity?.value.toFixed(2)}}</p>
        </ion-label>

         </div>
      </div> 
         <div (click)="onEdit(entity)" class="edit">
            <ion-icon class="icon" name="pencil" slot="end"></ion-icon>
          </div>
          <div class="edit">
            <ion-icon (click)="confirmDelete(entity)" class="icon" name="trash" slot="end"></ion-icon>
          </div>
      </div>
    </ion-list>
  </ion-card-content>
</ion-card>