<ion-card>
  <ion-card-header>
    <ion-card-title style="display: flex;justify-content: space-between;">
      {{ title }}
      <ion-button id="open-modal">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let entity of list">
        <ion-label (click)="onOpen(entity)">
          <h2>{{entity?.name}}</h2>
          <p>{{entity?.value}}</p>
        </ion-label>
          <div class="edit">
            <ion-icon class="icon" name="pencil" slot="end"></ion-icon>
          </div>
          <div class="edit">
            <ion-icon class="icon" name="trash" slot="end"></ion-icon>
          </div>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>